{
  "ignorePatterns": ["build", "server"],
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module",
    "createDefaultProgram": true,
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  },
  "plugins": [
    "react",
    "react-hooks"
  ],
  "extends": [
    "plugin:import/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "import/no-dynamic-require": "off",
    "import/newline-after-import": [
      "error",
      {
        "count": 1
      }
    ],
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "groups": [
          [
            "builtin",
            "external"
          ],
          [
            "sibling",
            "parent",
            "index",
            "internal"
          ]
        ]
      }
    ],

    "jsx-quotes": [
      "error",
      "prefer-double"
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 0,
        "maxBOF": 0
      }
    ],
    "no-multi-spaces": "error",
    "space-before-blocks": "error",
    "eqeqeq": "error",
    "no-else-return": "error",
    "no-undef-init": "error",
    "newline-per-chained-call": [
      "error",
      {
        "ignoreChainWithDepth": 2
      }
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "*",
        "next": "export"
      }
    ],
    "default-case": "error",
    "eol-last": [
      "error",
      "always"
    ],

    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/destructuring-assignment": "off",
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "off",
    "react/self-closing-comp": [
      "error",
      {
        "component": true
      }
    ],
    "react/jsx-tag-spacing": [
      "error",
      {
        "closingSlash": "never",
        "beforeSelfClosing": "always",
        "afterOpening": "never",
        "beforeClosing": "never"
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
